* {
    margin: 0;
    padding: 0;
}

.test {
    font-size: 2em;
}

header {
    height: 100px;
    width: 100%;
    background-color: beige;
    position: fixed;
}

header > h1 {
    font-size: 2.5em;
    text-align: center;
}

.mar100 {
    height: 100px;
}

nav li {
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(197, 152, 97, 0.66);
}

nav > ul {
    top: 20px;
    left: 20px;
    list-style: none;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
}

header > img {
    margin-top: 15px;
    margin-right: 40px;
    height: 70px;
    width: 70px;
    float: right;
    border-radius: 30%;
}

td img {
    width: 6em;
    height: 7em;
    border-radius: 50%;
}


.left {
    margin: 5px 10px 0 20px;
    float: left;
}

.left > img {
    width: 400px;
    height: 432px;
    border-radius: 5%;
    align-self: center;
}

.right {
    float: right;
    height: 400px;
    margin-bottom: 50px;

}

.right table {
    width: 400px;
    height: 430px;
    margin: 5px 20px 0 10px;
    background-color: #ceb170;
    border-radius: 5%;
}

td {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

tr >td > img {
    margin-left: 10px;
}

.history {
    font-size: 1.5em;
}

footer {
    background-color: burlywood;
    height: 5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
    margin-left: 4em;
    margin-top: 10px;
}

.button {
    margin-right: 4em;
    float: right;
    position: relative;
    font-size: 24px;
}

footer > div > p {
    margin-top: 25px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #c9a271;
}

.aboutUs {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
}

h2 {
    text-align: center;
}

.prolog, .book1, .book2, .book3 p {
    text-indent: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 120px;
}

div >  h2 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.book1 {
    clear: both;
    margin-top: 20px;
}
















